@charset "UTF-8";

/* =========================================
   Variables
   ========================================= */
:root {
  --mh--breakpoint--min: 375px;
  --mh--breakpoint--sm: 640px;
  --mh--breakpoint--md: 768px;
  --mh--breakpoint--lg: 1100px;
  --mh--breakpoint--xl: 1024px;
  --mh--breakpoint--x2l: 1480px;
  --mh--breakpoint--x3l: 1760px;
  --mh--breakpoint--x4l: 1920px;

  --mh--font-family--base: "Zen Kaku Gothic New", "ヒラギノ角ゴ ProN W3", meiryo, sans-serif;
  --mh--font-family--en: "Outfit", sans-serif;

  --mh--letter-spacing--sm: 0.03em;
  --mh--letter-spacing--md: 0.05em;
  --mh--letter-spacing--lg: 0.1em;

  --mh--line-height--none: 1;
  --mh--line-height--xs: 1.1;
  --mh--line-height--sm: 1.5;
  --mh--line-height--md: 1.9;
  --mh--line-height--lg: 2;

  --mh--header--height: 65px;
  --mh--header-mv--height: 93px;

  --mh--color--primary-100: rgb(216,229,230);
  --mh--color--primary-200: rgb(192,217,226);
  --mh--color--primary-300: rgb(170,218,238);
  --mh--color--primary-400: rgb(69,149,199);
  --mh--color--primary-500: rgb(60,105,156);
  --mh--color--primary-800: rgb(36,78,109);
  --mh--color--secondary-500: rgb(244,244,240);
  --mh--color--secondary-600: rgb(229,229,217);
  --mh--color--grayscale-100: rgb(255,255,255);
  --mh--color--grayscale-400: rgba(0,0,0,0.3);
  --mh--color--grayscale-500: rgba(0,0,0,0.5);
  --mh--color--grayscale-800: rgb(77,77,77);
  --mh--color--grayscale-900: rgb(0,0,0);

  --mh--easing: ease;
  --mh--duration: 0.3s;
  
  /* Font Sizes Initial */
  --mh--font-size--x4s: 1rem;
  --mh--font-size--x3s: 1.1rem;
  --mh--font-size--x2s: 1.1rem;
  --mh--font-size--xs: 1.2rem;
  --mh--font-size--sm: 1.3rem;
  --mh--font-size--md: 1.4rem;
  --mh--font-size--lg: 1.5rem;
  --mh--font-size--xl: 1.6rem;
  --mh--font-size--x2l: 1.7rem;
  --mh--font-size--x3l: 1.8rem;
  --mh--font-size--x4l: 2rem;
  --mh--font-size--x5l: 2.2rem;
  --mh--font-size--x6l: 2.4rem;
  --mh--font-size--x7l: 2.6rem;
  --mh--font-size--x8l: 2.8rem;
  --mh--font-size--x9l: 3rem;
  --mh--font-size--x10l: 3.2rem;
  --mh--font-size--x11l: 3.5rem;
  --mh--font-size--x12l: 3.8rem;
  --mh--font-size--x13l: 4.1rem;
  
  --mh--contents--width: 1100px;
  --mh--contents--padding--side: 20px;
  --mh--contents--width-with-padding: calc(var(--mh--contents--width) + var(--mh--contents--padding--side) * 2);
}

@media (min-width: 768px) {
  :root {
      --mh--font-size--x4s: 1.1rem;
      --mh--font-size--x3s: 1.2rem;
      --mh--font-size--x2s: 1.3rem;
      --mh--font-size--xs: 1.4rem;
      --mh--font-size--sm: 1.5rem;
      --mh--font-size--md: 1.6rem;
      --mh--font-size--lg: 1.8rem;
      --mh--font-size--xl: 2rem;
      --mh--font-size--x2l: 2.3rem;
      --mh--font-size--x3l: 2.6rem;
      --mh--font-size--x4l: 2.9rem;
      --mh--font-size--x5l: 3.3rem;
      --mh--font-size--x6l: 3.7rem;
      --mh--font-size--x7l: 4.2rem;
      --mh--font-size--x8l: 4.7rem;
      --mh--font-size--x9l: 5.3rem;
      --mh--font-size--x10l: 6rem;
      --mh--font-size--x11l: 6.8rem;
      --mh--font-size--x12l: 7.7rem;
      --mh--font-size--x13l: 8.7rem;
      
      --mh--contents--padding--side: 40px;
  }
}

@media (min-width: 1024px) {
  :root {
    --mh--header--height: 80px;
    --mh--header-mv--height: 93px;
  }
}

@media (min-width: 1480px) {
  :root {
    --mh--header-mv--height: 106px;
  }
}

/* =========================================
   Utility Classes
   ========================================= */
.u-text-x4s { font-size: var(--mh--font-size--x4s); }
.u-text-x4s, .u-text-x15l {
  line-height: var(--mh--line-height--sm);
  letter-spacing: var(--mh--letter-spacing--lg);
}
.u-tracking-md { letter-spacing: var(--mh--letter-spacing--md); }
.u-uppercase { text-transform: uppercase; }

a.u-alpha {
  display: block;
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  a.u-alpha { transition: opacity var(--mh--duration) var(--mh--easing); }
  a.u-alpha:hover { opacity: 0.7; }
}

.u-sr-only {
  position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px;
  overflow: hidden; white-space: nowrap; border-width: 0; clip: rect(0, 0, 0, 0);
}

@media (min-width: 1024px) {
  .u-hidden-xl-up { display: none !important; }
}

/* u-link-text */
a.u-link-text { transition: color var(--mh--duration) var(--mh--easing); }
@media (hover: hover) and (pointer: fine) {
  a.u-link-text:hover { color: var(--mh--color--primary-400); }
  a.u-link-text.is-white:hover { color: var(--mh--color--primary-300); }
}

.u-font-en {
  font-family: var(--mh--font-family--en);
  font-weight: 500;
  line-height: var(--mh--line-height--xs);
  letter-spacing: var(--mh--letter-spacing--sm);
}

/* =========================================
   Header Styles
   ========================================= */
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-width: 320px;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.48s var(--mh--easing), transform 0.48s var(--mh--easing);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.l-header.is-shown {
  opacity: 1;
  transform: translateY(0);
}
/* Ensure header is visible if JS not running initially */
.l-header { opacity: 1; transform: translateY(0); }

.l-header::before, .l-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: top 0.48s var(--mh--easing), height 0.48s var(--mh--easing);
}
.l-header::before {
  left: 0;
  height: 86px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20554%2086%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M218.03%2069.5812C262.077%2046.7558%20289.13%2038.7512%20330.816%2034.0617C336.13%2033.3745%20342.986%2033.133%20350.532%2033.0587C371.66%2032.8823%20425.266%2048.9102%20490.081%2035.9839C511.018%2033.3002%20558.839%2011.1991%20560%200H0V84.9684C34.1389%2088.1164%20189.5159%2084.3555%20218.03%2069.5812Z%22%20fill%3D%22%23C0D9E2%22%2F%3E%3Cpath%20d%3D%22M414.875%200H0V70.7299C137.9333%2076.7651%20199.616%2080.873%20256.712%2064.1519C326%2043.8567%20331.286%2017.7707%20477.045%2017.7707C485.403%2017.1645%20496.186%2016.9383%20508.061%2016.884C541.291%2016.7302%20547.901%2018.4765%20570.136%2016.1149C603.059%2013.7352%20626.342%209.28347%20654%200H414.886H414.875Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
}
.l-header::after {
  right: 0;
  height: 76px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20149%2076%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M134.045%200H0C19.9014%200.250559%2036.1098%205.26175%2050.4284%2015.2456C77.0118%2033.7773%2070.9469%2047.3268%2095.0811%2064.4998C108.464%2074.0596%20129.561%2076.6712%20149%2075.8617V0H134.045Z%22%20fill%3D%22%233C699C%22%2F%3E%3C%2Fsvg%3E");
  background-position: right 0;
}
.l-header__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 1440px;
  height: var(--mh--header--height);
  padding: 10px 15px;
  transition: height 0.48s var(--mh--easing), padding 0.48s var(--mh--easing);
  z-index: 11;
}

@media (min-width: 768px) {
  .l-header {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .l-header::before {
    top: -26px;
    height: 154px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%201201%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M465.302%20148.399C564.32%2099.7295%20625.116%2082.6496%20718.822%2072.6496C730.774%2071.1896%20746.17%2070.6596%20763.154%2070.5196C810.651%2070.1496%20931.146%20104.329%201076.842%2076.7496C1123.889%2071.0196%201231.38%2023.8999%201234%200.0100098H0V177.249C176.732%20183.969%20401.211%20179.899%20465.302%20148.399Z%22%20fill%3D%22%23C0D9E2%22%2F%3E%3Cpath%20d%3D%22M882.62%200.01H0V145.19C282.24%20157.57%20415.95%20166.01%20539.72%20131.69C689.92%2090.04%20701.39%2036.49%201017.38%2036.49C1035.51%2035.24%201058.87%2034.79%201084.62%2034.67C1156.67%2034.35%201170.98%2037.94%201219.19%2033.09C1290.56%2028.19%201341.05%2019.06%201401%200H882.62V0.01Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
  }
  .l-header::after {
    top: -10px;
    height: 135px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%201320%20153%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M484.16%200H0C67.4002%207.9504%20130.098%2014.2587%20177.784%2031.5913C266.345%2063.7834%20273.981%2082.2075%20354.373%20112.037C428.676%20139.733%20574.499%20133.875%20646.782%20122.861C782.617%20102.154%20905.069%20115.962%201031.21%20142.556C1145.19%20164.275%201246.78%20150.136%201320%20118.415V0H484.16Z%22%20fill%3D%22%233C699C%22%2F%3E%3C%2Fsvg%3E");
  }
  .l-header.is-mv::before, .l-header.is-mv::after { top: 0; }
  .l-header.is-mv .l-header__inner {
    padding-block: 27px 0;
    height: var(--mh--header-mv--height);
  }
  .l-header__inner { padding: 12px 30px 0; }
}

@media (min-width: 1480px) {
  .l-header.is-mv::before { height: 180px; }
  .l-header.is-mv::after { height: 153px; }
  .l-header.is-mv .l-header__inner { padding: 32px 40px 0; }
  .l-header.is-mv .l-header-logo { width: 325px; }
  .l-header.is-mv .l-nav { gap: 30px; }
  .l-header.is-mv .l-nav-list { gap: 25px; }
}

/* Logo */
.l-header-logo {
  display: flex; flex-direction: column; gap: 8px; transition: width 0.48s var(--mh--easing);
}
.l-header-logo__wrap { max-width: 168px; }
@media (min-width: 1024px) {
  .l-header-logo { gap: 15px; flex: 0 0 50%; }
  .l-header-logo__wrap { max-width: 325px; }
}

/* Nav Btn */
.l-nav-btn {
  position: relative; display: flex; justify-content: center; align-items: center;
  flex-direction: column; gap: 6px; width: 40px; height: 40px; border: 0;
  transition: gap var(--mh--duration) var(--mh--easing); cursor: pointer;
  background: transparent;
}
.l-nav-btn__line {
  width: 30px; height: 1px; background-color: var(--mh--color--grayscale-100);
  transition: background-color var(--mh--duration) var(--mh--easing), transform var(--mh--duration) var(--mh--easing);
}
.l-nav-btn.is-open .l-nav-btn__line { background-color: var(--mh--color--grayscale-900); }

/* Nav */
.l-nav {
  position: fixed; top: var(--mh--header--height); left: 0;
  width: 100%; min-width: 320px;
  max-height: calc(100dvh - var(--mh--header--height));
  padding: 30px 40px calc(60px + env(safe-area-inset-bottom));
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
}
@media (max-width: 1023px) {
  .l-nav {
    overflow: auto; visibility: hidden; opacity: 0;
    transition: visibility var(--mh--duration) var(--mh--easing), opacity var(--mh--duration) var(--mh--easing);
    background: white; /* Needs background on mobile */
  }
  .l-nav.is-open { visibility: visible; opacity: 1; }
}
@media (min-width: 1024px) {
  .l-nav {
    position: static; flex: 0 0 50%; display: flex; justify-content: flex-end; align-items: center;
    gap: 20px; min-width: auto; padding: 0;
    transition: gap var(--mh--duration) var(--mh--easing);
    background: transparent;
    max-height: none;
    overflow: visible;
  }
}

/* Nav List */
.l-nav-list__item-link, .l-nav-list__item-en, .l-nav-list__item-txt { display: block; }
.l-nav-list__item-en::first-letter { text-transform: uppercase; }
.l-nav-list__item-txt {
  font-weight: 500;
  line-height: var(--mh--line-height--sm);
  letter-spacing: var(--mh--letter-spacing--lg);
}

@media (max-width: 1023px) {
  .l-nav-list { max-width: 500px; margin-inline: auto; }
  .l-nav-list__item { padding-bottom: 24px; border-bottom: 1px solid var(--mh--color--grayscale-500); }
  .l-nav-list__item + .l-nav-list__item { margin-top: 20px; }
  .l-nav-list__item-link { position: relative; padding-right: 54px; }
  .l-nav-list__item-txt { margin-top: 7px; font-size: var(--mh--font-size--xs); }
}
@media (min-width: 1024px) {
  .l-nav-list {
    flex: 1; display: flex; justify-content: flex-end; align-items: center;
    flex-wrap: wrap; gap: 20px; transition: gap var(--mh--duration) var(--mh--easing);
  }
  .l-nav-list__item { position: relative; }
  .l-nav-list__item-txt { font-size: 2rem; }
  .l-nav-list__item-link { color: var(--mh--color--grayscale-100); }
  .l-nav-list__item-link:hover { color: var(--mh--color--primary-300) !important; }
}

/* Nav CV */
.l-nav-cv { display: flex; gap: 15px 0; }
@media (max-width: 1023px) {
  .l-nav-cv { flex-direction: column; max-width: 320px; margin: 40px auto 0; }
}
@media (min-width: 1024px) {
  .l-nav-cv { justify-content: space-between; align-items: center; width: 385px; }
  .l-nav-cv__btn { max-width: 184px; }
}

/* Buttons (c-cv-btn) */
.c-cv-btn { width: 100%; }
.c-cv-btn__link {
  display: block; background-color: var(--mh--color--grayscale-100);
  border-radius: 100vmax; color: var(--mh--color--primary-500);
  text-decoration: none;
}
.c-cv-btn__in {
  display: flex; justify-content: center; align-items: center; gap: 8px;
  min-height: 60px; padding: 8px 8px 9px; font-weight: 500;
  letter-spacing: var(--mh--letter-spacing--lg); line-height: var(--mh--line-height--sm);
}

.c-cv-btn.is-hd .c-cv-btn__link { background-color: var(--mh--color--primary-500); color: var(--mh--color--grayscale-100); }
.c-cv-btn.is-hd.is-tel .c-cv-btn__link { background: none; border: 1px solid var(--mh--color--grayscale-900); color: var(--mh--color--grayscale-900); }
.c-cv-btn.is-hd.is-tel .c-cv-btn__ico { color: var(--mh--color--primary-500); }

@media (min-width: 1024px) {
  .c-cv-btn.is-hd .c-cv-btn__in { min-height: 45px; padding-top: 10px; }
  .c-cv-btn.is-hd.is-tel .c-cv-btn__link { border: 0; }
  .c-cv-btn.is-hd:not(.is-tel) .c-cv-btn__txt { font-size: var(--mh--font-size--sm); }
}

/* Icons */
.c-ico { display: inline-block; vertical-align: baseline; }
.c-ico.is-tel01::after {
  display: inline-block; width: 22px; height: 23px; color: currentColor; content: "";
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2233%22%20viewBox%3D%220%200%2032%2033%22%20fill%3D%22none%22%3E%20%3Cpath%20d%3D%22M24.4452%2031.1501C24.3617%2031.1501%2024.2643%2031.1501%2024.1809%2031.1501C22.7617%2031.0527%2021.6348%2030.8997%2020.8417%2030.691C16.7513%2029.6336%2012.5496%2027.0875%209.01565%2023.5536C5.48174%2020.0196%202.92174%2015.7901%201.85044%2011.7136C1.64174%2010.9205%201.4887%209.79356%201.39131%208.37443C1.29391%206.92748%201.98957%205.52226%203.18609%204.7153L6.63652%202.41965C7.38783%201.91878%208.32%201.76574%209.19652%201.98835C10.073%202.21095%2010.8104%202.80921%2011.2278%203.60226L14.0104%208.97269C14.7061%2010.3362%2014.3443%2011.9918%2013.1478%2012.9379L11.5617%2014.1762C12.327%2015.4979%2013.1617%2016.6527%2014.5252%2018.0162C15.847%2019.3379%2017.0017%2020.1727%2018.2817%2020.9379L19.5339%2019.3379C20.4661%2018.1414%2022.1357%2017.7657%2023.4991%2018.4753L28.8974%2021.2718C29.6904%2021.6753%2030.2748%2022.4127%2030.5113%2023.2753C30.7478%2024.1379%2030.5948%2025.0701%2030.1078%2025.8075L27.8678%2029.2857C27.1165%2030.4544%2025.8226%2031.1501%2024.4452%2031.1501ZM8.40348%204.67356C8.40348%204.67356%208.26435%204.68748%208.18087%204.74313L4.74435%207.03878C4.3687%207.28921%204.14609%207.73443%204.17391%208.19356C4.25739%209.404%204.38261%2010.4057%204.54957%2011.0179C5.49565%2014.6353%207.76348%2018.3918%2010.9635%2021.5779C14.1635%2024.764%2017.92%2027.0597%2021.5235%2027.9918C22.1357%2028.1588%2023.1235%2028.284%2024.3478%2028.3675C24.807%2028.3953%2025.2522%2028.1727%2025.5165%2027.7831L27.7565%2024.3049C27.84%2024.1797%2027.8261%2024.0544%2027.8122%2023.9849C27.7983%2023.9153%2027.7426%2023.804%2027.6174%2023.7344L22.2191%2020.9379C22.0522%2020.8544%2021.8435%2020.8962%2021.7322%2021.0492L19.7426%2023.5953C19.3252%2024.124%2018.5878%2024.291%2017.9896%2023.957C16.0974%2022.9414%2014.4557%2021.8701%2012.5635%2019.9779C10.6296%2018.044%209.58609%2016.4301%208.54261%2014.4544C8.22261%2013.8562%208.38957%2013.1188%208.91826%2012.7014L11.4365%2010.7396C11.5896%2010.623%2011.6313%2010.4197%2011.5478%2010.2527L8.76522%204.88226C8.69565%204.75704%208.59826%204.70139%208.51478%204.68748C8.48696%204.68748%208.45913%204.68748%208.41739%204.68748L8.40348%204.67356Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
  mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2233%22%20viewBox%3D%220%200%2032%2033%22%20fill%3D%22none%22%3E%20%3Cpath%20d%3D%22M24.4452%2031.1501C24.3617%2031.1501%2024.2643%2031.1501%2024.1809%2031.1501C22.7617%2031.0527%2021.6348%2030.8997%2020.8417%2030.691C16.7513%2029.6336%2012.5496%2027.0875%209.01565%2023.5536C5.48174%2020.0196%202.92174%2015.7901%201.85044%2011.7136C1.64174%2010.9205%201.4887%209.79356%201.39131%208.37443C1.29391%206.92748%201.98957%205.52226%203.18609%204.7153L6.63652%202.41965C7.38783%201.91878%208.32%201.76574%209.19652%201.98835C10.073%202.21095%2010.8104%202.80921%2011.2278%203.60226L14.0104%208.97269C14.7061%2010.3362%2014.3443%2011.9918%2013.1478%2012.9379L11.5617%2014.1762C12.327%2015.4979%2013.1617%2016.6527%2014.5252%2018.0162C15.847%2019.3379%2017.0017%2020.1727%2018.2817%2020.9379L19.5339%2019.3379C20.4661%2018.1414%2022.1357%2017.7657%2023.4991%2018.4753L28.8974%2021.2718C29.6904%2021.6753%2030.2748%2022.4127%2030.5113%2023.2753C30.7478%2024.1379%2030.5948%2025.0701%2030.1078%2025.8075L27.8678%2029.2857C27.1165%2030.4544%2025.8226%2031.1501%2024.4452%2031.1501ZM8.40348%204.67356C8.40348%204.67356%208.26435%204.68748%208.18087%204.74313L4.74435%207.03878C4.3687%207.28921%204.14609%207.73443%204.17391%208.19356C4.25739%209.404%204.38261%2010.4057%204.54957%2011.0179C5.49565%2014.6353%207.76348%2018.3918%2010.9635%2021.5779C14.1635%2024.764%2017.92%2027.0597%2021.5235%2027.9918C22.1357%2028.1588%2023.1235%2028.284%2024.3478%2028.3675C24.807%2028.3953%2025.2522%2028.1727%2025.5165%2027.7831L27.7565%2024.3049C27.84%2024.1797%2027.8261%2024.0544%2027.8122%2023.9849C27.7983%2023.9153%2027.7426%2023.804%2027.6174%2023.7344L22.2191%2020.9379C22.0522%2020.8544%2021.8435%2020.8962%2021.7322%2021.0492L19.7426%2023.5953C19.3252%2024.124%2018.5878%2024.291%2017.9896%2023.957C16.0974%2022.9414%2014.4557%2021.8701%2012.5635%2019.9779C10.6296%2018.044%209.58609%2016.4301%208.54261%2014.4544C8.22261%2013.8562%208.38957%2013.1188%208.91826%2012.7014L11.4365%2010.7396C11.5896%2010.623%2011.6313%2010.4197%2011.5478%2010.2527L8.76522%204.88226C8.69565%204.75704%208.59826%204.70139%208.51478%204.68748C8.48696%204.68748%208.45913%204.68748%208.41739%204.68748L8.40348%204.67356Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center; mask-position: center; -webkit-mask-size: contain; mask-size: contain;
  transition: all var(--mh--duration) var(--mh--easing);
}
.c-ico.is-reserve01::after {
  display: inline-block; width: 22px; height: 22px; color: currentColor; content: "";
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2226%22%20viewBox%3D%220%200%2026%2026%22%20fill%3D%22none%22%3E%20%3Cpath%20d%3D%22M19.8696%2015.4022L16.9131%2017.9565L15.8478%2016.8913C15.4239%2016.4674%2014.7391%2016.4674%2014.3152%2016.8913C13.8913%2017.3152%2013.8913%2018%2014.3152%2018.4239L16.0978%2020.2065C16.3044%2020.413%2016.587%2020.5217%2016.8696%2020.5217C17.1196%2020.5217%2017.3804%2020.4348%2017.5761%2020.2609L21.3044%2017.0435C21.7609%2016.6522%2021.8044%2015.9674%2021.413%2015.5109C21.0217%2015.0543%2020.337%2015%2019.8804%2015.4022H19.8696Z%22%20fill%3D%22%233C699C%22%2F%3E%20%3Cpath%20d%3D%22M17.8261%2010.1522C13.5978%2010.1522%2010.1522%2013.5978%2010.1522%2017.8261C10.1522%2019.1848%2010.5109%2020.4565%2011.1304%2021.5652H5.52175C5.15218%2021.5652%204.84783%2021.2609%204.84783%2020.8913V5.97826C4.84783%205.6087%205.15218%205.30435%205.52175%205.30435H7.73914V6.84783C7.73914%207.44565%208.22827%207.93478%208.82609%207.93478C9.42392%207.93478%209.91305%207.44565%209.91305%206.84783V5.30435H16.5217V6.84783C16.5217%207.44565%2017.0109%207.93478%2017.6087%207.93478C18.2065%207.93478%2018.6957%207.44565%2018.6957%206.84783V5.30435H20.913C21.2826%205.30435%2021.587%205.6087%2021.587%205.97826V8.80435C21.587%209.40217%2022.0761%209.8913%2022.6739%209.8913C23.2717%209.8913%2023.7609%209.40217%2023.7609%208.80435V5.97826C23.7609%204.41304%2022.4891%203.13043%2020.913%203.13043H18.6957V1.58696C18.6957%200.98913%2018.2065%200.5%2017.6087%200.5C17.0109%200.5%2016.5217%200.98913%2016.5217%201.58696V3.13043H9.91305V1.58696C9.91305%200.98913%209.42392%200.5%208.82609%200.5C8.22827%200.5%207.73914%200.98913%207.73914%201.58696V3.13043H5.52175C3.95653%203.13043%202.67392%204.40217%202.67392%205.97826V20.9022C2.67392%2022.4674%203.94566%2023.75%205.52175%2023.75H12.9565C14.2826%2024.8478%2015.9891%2025.5109%2017.837%2025.5109C22.0652%2025.5109%2025.5109%2022.0652%2025.5109%2017.837C25.5109%2013.6087%2022.0652%2010.163%2017.837%2010.163L17.8261%2010.1522ZM17.8261%2023.3261C14.7935%2023.3261%2012.3261%2020.8587%2012.3261%2017.8261C12.3261%2014.7935%2014.7935%2012.3261%2017.8261%2012.3261C20.8587%2012.3261%2023.3261%2014.7935%2023.3261%2017.8261C23.3261%2020.8587%2020.8587%2023.3261%2017.8261%2023.3261Z%22%20fill%3D%22%233C699C%22%2F%3E%3C%2Fsvg%3E");
  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center; mask-position: center; -webkit-mask-size: contain; mask-size: contain;
  transition: all var(--mh--duration) var(--mh--easing);
}

/* Nav Link Hover Color Override for large screens */
@media (min-width: 1024px) and (hover: hover) and (pointer: fine) {
    .l-nav-list__item-link:hover { color: var(--mh--color--primary-300) !important; }
}
